version 5.129.0

source https://nuget.org/api/v2
storage:none

nuget FSharp.Core >= 4.2.1
nuget Suave >= 2.2.0
nuget NewtonSoft.Json >= 7.0.1

nuget Chessie >= 0.6.0

nuget Expecto
nuget Expecto.BenchmarkDotNet
nuget Expecto.FsCheck

group Build
    source https://nuget.org/api/v2
    framework: >= net40

    nuget FAKE
    nuget SourceLink.Fake

    github fsharp/FAKE modules/Octokit/Octokit.fsx
