type project
id Itg.Ssf.SocketIoSuave
owners ITG
authors ITG
projectUrl
    https://github.com/RFQ-hub/SuaveSocketIo
licenseUrl
    https://github.com/RFQ-hub/SuaveSocketIo/blob/master/LICENSE.md
requireLicenseAcceptance
    false
copyright
    Copyright ITG 2017
summary
    Socket.IO implementation for Suave web server
description
    socket.io implementation for Suave web server
dependencies
    Chessie >= 0.5.1
    Suave >= 2.0.0
    NewtonSoft.Json >= 7.0.1
    FSharp.Core >= 4.0.0.1
